*{margin: 0; padding: 0;}
body{padding: 20px;}
span:hover{cursor: pointer;}
#set{
	
	background-color: red;
	border: 1px solid;
}
#content{
	margin: 20px;	
	padding: 10px;
	width: 200px;
	height: 200px;
	color: red;
	background-color: grey;
	border: 1px solid black;
}
#board{
	background-color: #ffffe0;
	border: 1px solid black;
	width: 240px;
	line-height: 30px;
	padding: 5px; 
	display: none;
}